[submodule "extern/entityx"]
	path = extern/entityx
	url = https://github.com/alecthomas/entityx
[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "argh"]
	path = extern/argh
	url = https://github.com/adishavit/argh
[submodule "fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
